* {
    background-color: #262839;
    color: #f2f2f2;
}
a {
    text-decoration: none;
}

em {
    font-style: italic;
}


strong {
    font-weight: bold;
}


u {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    a {
        text-decoration: none;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    u {
        text-decoration: underline;
    }
}