body {
  background-image: url("https://media.giphy.com/media/fniVO5yA3ddAq6A19V/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-shadow: 0 0 10px #000000;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: #f2f2f2;
  }
}