body {
  background-image: url("https://media.giphy.com/media/fniVO5yA3ddAq6A19V/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: #f2f2f2;
  }
}