body {
    background-image: url("https://media.giphy.com/media/fniVO5yA3ddAq6A19V/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
}


/* other links you can use:  */
/* -https://media.giphy.com/media/1RBTyJ0wspEllt3i2c/giphy.gif */
/* -https://tenor.com/bLlQv.gif */