body {
  background-image: url(../gifs/lofi.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-wrapper .hidden-iframe {
  display: none;
}

button {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: contain;
  }

  .media-wrapper .hidden-iframe {
    display: block;
  }
}