.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    font-size: x-large;

}

.nav li {
    display: inline;
    flex-direction: column;
    background-color: white;
    opacity: 75%;
}
